@model DAPMver1.Data.LichSuGiaSanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LichSuGiaSanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaCu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaCu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaMoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaMoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPhamNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPhamNavigation.AnhSp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaLichSu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
