@model IEnumerable<CNPMNC_Giao.Models.VatLieu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenVatlieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenVatlieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaVatLieu }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaVatLieu }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaVatLieu })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Quay về Sản phẩm", "Index", "SanPhams")
