@model CNPMNC_Giao.Models.DonHang

<h2>Chi tiết đơn hàng</h2>

<div>
    <p>Mã đơn hàng: @Model.MaDonHang</p>
    <p>Ngày đặt hàng: @Model.NgayDatHang</p>
    <p>Trạng thái: @Model.TrangThai</p>
    <p>Người nhận: @Model.TenNguoiNhan</p>
    <p>Số điện thoại: @Model.SDTNguoiNhan</p>
    <p>Địa chỉ: @Model.DiaChiNguoiNhan</p>
    <p>Tổng tiền: @Model.TongTien</p>
</div>

