@model IEnumerable<CNPMNC_Giao.Models.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo mới sản phẩm | ", "Create")
    
    @Html.ActionLink("Tạo mới Danh Mục | ", "TaoMoiDanhMuc")
    @Html.ActionLink("Tạo mới Nhà Cung Cấp | ", "TaoMoiNhaCungCap")
    @Html.ActionLink("Tạo mới Danh Mục | ", "TaoMoiVatLieu")
    
    
</p>
<table class="table">
    <tr>
        <th>
Tên Sản Phẩm
        </th>
        <th>
          Giá tiền mới
        </th>
        <th>
            Giá tiền cũ
        </th>
        <th>
           Mô tả
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCungCap.TenNhaCungCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VatLieu.TenVatlieu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTienMoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaTienCu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            <img width="100" src="@item.AnhSP"/>
        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaCungCap.TenNhaCungCap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VatLieu.TenVatlieu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSanPham }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSanPham }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSanPham })
        </td>
    </tr>
}

</table>
